body, html {
  height: 100%; }

.header {
  width: 100%;
  background-color: #f7f7f7;
  height: 31px; }

.header-c {
  width: 1200px;
  margin: 0 auto; }

.header-left {
  width: 310px;
  line-height: 31px;
  font-size: 14px;
  color: #808080;
  float: right; }

.left-le {
  width: 250px;
  float: left; }

.left-ri {
  float: right;
  width: 60px;
  text-align: center;
  line-height: 31px;
  float: left; }

.header-right {
  width: 150px;
  line-height: 31px;
  float: right;
  margin-left: 15px; }

.header-right span {
  font-size: 14px;
  color: #808080;
  margin: 0 10px; }

.search-c {
  width: 1200px;
  margin: 40px auto; }

.top-shoppingcar {
  float: right; }

.top-search {
  float: right;
  margin-right: 24px; }

.top-search-input {
  width: 260px;
  height: 30px;
  border: 1px solid #c9caca;
  float: left; }

.top-search-searchbox {
  width: 50px;
  height: 30px;
  background-color: #c1383e;
  text-align: center;
  line-height: 30px;
  color: #ffffff;
  float: left; }

.top-shoppingcar {
  float: right; }

.top-shoppingcar-box {
  width: 110px;
  height: 30px;
  background-color: #c1383e;
  text-align: center;
  line-height: 30px;
  color: #ffffff; }

.search-bottom {
  font-size: 14px;
  color: #808080;
  width: 400px;
  line-height: 30px;
  float: right;
  margin-right: 30px; }

.search-bottom span {
  margin-right: 5px; }

.nav-c {
  width: 1200px;
  margin: auto; }

.nav-img {
  float: left;
  width: 185px;
  height: 46px; }

.nav-list {
  font-size: 14px;
  color: #808080;
  width: 1015px;
  height: 46px;
  float: left;
  margin-bottom: 25px; }

.nav-ul {
  width: 100px;
  height: 46px;
  float: left; }

.nav-title {
  height: 46px;
  width: 100px;
  line-height: 46px;
  text-align: center; }

.nav-li {
  text-align: center;
  height: 35px;
  line-height: 35px;
  z-index: 1000; }

.nav-item-active {
  border-bottom: 4px solid #c1383e; }

.nav-li {
  background-color: #ffffff;
  position: relative;
  z-index: 1000; }

.aaa {
  line-height: 50px;
  font-size: 20px;
  color: red;
  text-align: center;
  height: 50px; }

.bigger-banner {
  margin-top: 35px;
  height: 535px;
  margin-bottom: 80px; }

.banner {
  width: 1200px;
  margin: auto;
  height: 535px; }

.banner-images img {
  width: 1200px; }

.banner-images {
  margin: 0 auto;
  height: 535px;
  width: 1200px;
  overflow: hidden; }

.banner-images > a {
  display: block;
  float: left; }

.closen {
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #707070;
  margin: 3px;
  float: left; }

.banner-circle {
  position: absolute;
  left: 700px;
  top: 700px;
  z-index: 1; }

.activity {
  background-color: #b81b22; }

.banner-btnleft {
  position: absolute;
  font-size: 80px;
  color: #6f6f6d;
  top: 440px;
  left: 129px;
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  z-index: 1; }

.banner-btnright {
  position: absolute;
  font-size: 80px;
  color: #6f6f6d;
  top: 440px;
  right: 130px;
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 100px; }

.nav-item-actives {
  border-bottom: 4px solid #b81b22; }

.body-c {
  width: 1200px;
  margin: 42px auto 0; }

.body-titleimg {
  margin-bottom: 42px; }

.clothing {
  height: 165px;
  width: 1200px;
  margin-bottom: 30px; }

.clothing-li {
  width: 33%;
  height: 165px;
  border-right: 1px solid #000;
  float: left;
  margin: 0 1px; }

.clothing-li:last-child {
  border-right: none; }

.clothing-left {
  text-align: center;
  line-height: 165px;
  margin-left: 5px; }

.clothing-left img {
  width: 165px; }

.clothing-right {
  font-size: 12px;
  padding-top: 22px;
  margin-left: 6px; }

.clothing-right h3 {
  font-weight: normal; }

.clothing-progress div {
  font-size: 16px;
  color: #808080;
  text-align: center;
  height: 28px;
  line-height: 28px; }

.salary-left {
  width: 120px;
  height: 20px;
  text-align: center;
  line-height: 20px; }

.salary-left span {
  font-size: 14px; }

.info1 {
  text-decoration: line-through;
  color: #ddd; }

.info2 {
  color: #b81b22; }

.salary-right {
  width: 88px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  font-size: 14px;
  color: #be224a; }

.right-salary {
  margin-bottom: 24px; }

.clothing-btn {
  width: 90px;
  height: 24px;
  color: #ffffff;
  text-align: center;
  line-height: 24px;
  background-color: #b81b22; }

.salary {
  height: 280px;
  background: #f1f1f1; }

.salary-list li {
  float: left;
  width: 25%;
  height: 100%; }

.salary-list li:first-child {
  width: 18%; }

.body-title1 {
  width: 1200px;
  margin: 0 auto; }

.body-title1-info1, .body-title1-info2 {
  width: 1200px;
  margin: auto; }

.title1 {
  font-weight: normal;
  font-size: 18px;
  color: #a79a9a;
  line-height: 120px;
  height: 120px;
  width: 50%;
  margin: auto;
  text-align: center; }

.body-info1-lists li {
  width: 290px;
  height: 509px;
  float: left;
  margin: 0 4px; }

.body-info2-lists li {
  width: 290px;
  height: 509px;
  float: left;
  margin: 0 4px; }

.info1-lists-h3 em {
  font-size: 20px; }

.info2-lists-h3 em {
  font-size: 20px; }

.body-info1-lists li:first-child {
  width: 592px;
  height: 509px; }

.info1-lists-h3, .info2-lists-h3 {
  height: 28px;
  padding: 20px 12px;
  line-height: 28px;
  border: 1px solid #e8e7ec;
  border-top: 0px;
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 11px; }

.info1-lists-h3 span {
  float: right;
  color: #a10000;
  line-height: 24px;
  font-size: 14px; }

.info2-lists-h3 span {
  float: right;
  color: #a10000;
  line-height: 24px;
  font-size: 14px; }

.info1-list-bottom {
  margin-top: 11px; }

.body-info2-lists li {
  width: 290px;
  height: 509px;
  float: left; }

.body-info2-lists li:last-child {
  width: 592px;
  height: 509px; }

.title2 {
  height: 120px;
  line-height: 120px;
  text-align: center;
  color: #c9caca;
  font-size: 18px; }

.piclist li {
  float: left;
  width: 285px;
  height: 508px;
  margin: 0px 7px; }

.body-list-six {
  margin-bottom: 66px; }

.body-list-six li {
  float: left;
  width: 385px;
  height: 275px;
  margin: 7px; }

.body-last {
  height: 284px;
  border: 1px solid #e0e0e1;
  padding-top: 45px; }

.body-last li {
  float: left;
  width: 371px;
  height: 138px;
  border-right: 1px solid #e0e0e1;
  text-align: center; }

.body-last li:last-child {
  border: none; }

.body-last li:last-child > img {
  width: 104px;
  height: 104px; }

.body-last-info1 {
  width: 156px;
  height: 32px;
  background: #b81c22;
  color: #f1f1f1;
  margin: 20px auto;
  line-height: 32px; }

.body-last-info2, .body-last-info3 {
  line-height: 25px;
  height: 25px;
  text-align: center;
  color: #727171; }

.body-last-info2 {
  margin-top: 15px; }

.body-last-info4 {
  color: #727272; }

.body-last-list {
  width: 1100px;
  margin: 20px auto 0; }

.body-last-list li {
  float: left;
  width: 179px;
  height: 57px;
  background: #f8f8f8;
  text-align: center;
  margin-right: 2px;
  line-height: 57px; }

.footer {
  border-top: 1px solid #000; }

.footer-c {
  width: 1200px;
  margin: auto;
  text-align: center; }

.footer-c p {
  line-height: 30px;
  color: #6f6f6d;
  font-size: 12px; }

.footer-c img {
  margin-top: 30px;
  margin-bottom: 30px; }

.aside {
  width: 90px;
  height: 360px;
  position: fixed;
  bottom: 60px;
  right: 0px;
  border-right: 1px solid #b81b22;
  border-left: 1px solid #b81b22;
  border-top: 1px solid #b81b22; }

.aside div {
  width: 100%;
  height: 25%;
  border-bottom: 1px solid #b81b22;
  line-height: 90px;
  text-align: center;
  font-size: 20px; }

.aside4 {
  border-bottom: none;
  background-color: #c1383e; }
