.box2-title {
  width: 402px;
  float: right;
  border-bottom: 2px solid #b81e20; }

.box2-img {
  margin-top: 70px; }

.box2-text input {
  width: 340px;
  height: 48px;
  border: 1px solid #cbcbcb;
  color: #cbcbcb;
  text-indent: 10px;
  letter-spacing: 2px;
  border-radius: 10px;
  margin-left: 22px;
  margin-top: 20px;
  margin-bottom: 20px; }

.box-text input:last-child {
  margin-bottom: 30px; }

.login-btn2 {
  width: 340px;
  height: 48px;
  background-color: #b42025;
  font-size: 24px;
  line-height: 48px;
  text-align: center;
  margin-left: 22px; }

.login-btn2 a {
  color: #fff; }
